<!DOCTYPE html>
<head>
	<title>ML</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link href="static/main.css" rel="stylesheet">

</head>
<html>
	<body>
		<div class="sec" id="intro">
    		<h1 id="title">Image2BitmojiSeq</h1>
    		<p>Turns images to bitmoji sequences</p>
    		
    	</div>
    	<div class="sec">
    		<a id="begin" class="element" href="/ml">click to experience machine learning!</a>
    	</div>
	</body>
<!-- 	<script>
		var background_audio = new Audio('static/music/adventure_awaits.mp3');
		background_audio.play();
	</script> -->
</html>