<!DOCTYPE html>
<head>
	<title>ML</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<html>
	<body>
		<div class="sec" id="intro">
    		<h2 id="title">Input an image</h2>    		
                <form action="" method=post enctype=multipart/form-data>
                  <p><input type=file name=file>
                     <input type=submit value=Upload>
                </form>
                {% if filepath %}
                <img width="300" src="{{filepath}}">
                <p>{{caption}}</p>
                <br>
                {% for link in links %}
                <img width="200" src="{{link}}">
                {% endfor %}
                {% else %}
                <p>no image uploaded!</p>
                {% endif %}


                <div class="my-bitmoji-stickerpicker-icon-target" />


    	</div>



<script>
        window.snapKitInit = function () {
            // Argument 1
            var bitmojiWebPickerIconClass =
              'my-bitmoji-stickerpicker-icon-target';

            // Argument 2
            var uiOptions = {
              onStickerPickCallback:
                function onStickerPickCallback(bitmojiImgURL){
                  console.log(bitmojiImgURL);
                },
              webpickerPosition: 'bottomRight',
            };

            // Argument 3
            var loginParamsObj = {
              clientId: '9c1daf5e-fe74-4469-965e-b07b24255952',
              redirectURI: 'http://localhost:5000/ml',
              scopeList: [ // the list of scopes you are approved for
               'user.bitmoji.avatar',
               'user.display_name',
              ],
            };

            // Mount Bitmoji Icon(s)
            snap.bitmojikit.mountBitmojiStickerPickerIcons(
              bitmojiWebPickerIconClass,
              uiOptions,
              loginParamsObj,
            );
          };

          // Load the SDK asynchronously
          (function (d, s, id) {
            var js, sjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://sdk.snapkit.com/js/v1/login_bitmoji.js";
            sjs.parentNode.insertBefore(js, sjs);
          }(document, 'script', 'bitmojikit-sdk'));
      </script>
</script>
    	
	</body>
</html>